save-exact=true
# https://pnpm.io/npmrc#public-hoist-pattern
## Defaults from PNPM: https://github.com/pnpm/pnpm/blob/320482c0573743dbfd218516d5512c95e314925f/packages/config/src/index.ts#L180
public-hoist-pattern[]="*types*"
public-hoist-pattern[]="*eslint*"
public-hoist-pattern[]="@prettier/plugin-*"
public-hoist-pattern[]="*prettier-plugin-*"
## Custom
public-hoist-pattern[]="@adbayb/*"
public-hoist-pattern[]="@commitlint/cli"
public-hoist-pattern[]="prettier"
public-hoist-pattern[]="quickbundle"
public-hoist-pattern[]="vitest"